.top-bottom {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pie-chart {
  margin-right: 15px;
  width: 250px;
}

.pie-chart text {
  fill: white;
}

.side-by-side--start {
  justify-content: flex-start;
}

.side-by-side--top {
  align-items: flex-start !important;
}

.dog--p {
  width: 50%;
}

.right-side {
  margin-top: 50px;
  transition: opacity .5s ease;
}

.reveal {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.body-paragraph--larger {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 0px;
}

.Yes {
  color: #FFBA08;
}

.No {
  color: rgb(63, 136, 197);
}

@media only screen and (max-width: 1000px) {
  .side-by-side.mobile-flex-start {
    align-items: flex-start !important;
    flex-direction: column;
    justify-content: flex-start !important;
  }
  
  .pie-chart {
    width: 80%;
  }
  
  .right-side {
    margin-top: 40px;
  }
  
  .right-side.invisible {
    display: none;
  }
  
  .right-side.reveal {
    display: block;
  }
  
  .dog--p {
    margin-top: 50px;
    order: 1;
    width: 100%;
  }
  
  .svg--dog {
    order: 2;
    width: 100%;
  }
  
  .align-start-mobile .top-bottom {
    align-self: flex-start;
  }
}