form {
  align-items: center;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: flex-end;
  line-height: 22px;
  max-width: 450px;
}

.small-field-container {
  width: calc(50% - 15px);
}

.small-field-container input {
  background-color: rgba(0,0,0,0.2);
  border: 1px solid black;
  height: 49px;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}

.small-field-container:nth-child(1) {
  margin-right: 30px;
}

.large-field-container {
  width: 100%;
}

.large-field-container textarea {
  background-color: rgba(0,0,0,0.2);
  border: 1px solid black;
  color: #000000;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 239px;
  line-height: 22px;
  padding: 10px;
  resize: none;
  width: 100%;
}

.small-field-container input::placeholder,
.large-field-container textarea::placeholder {
  color: black;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.small-field-container input:focus,
.large-field-container textarea:focus {
  background-color: rgba(255,255,255,.5);
  outline-width: 0;
}

.submit-button {
  background-color: black;
  border: 0;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 16px;
  font-weight: 700;
  justify-self: flex-end;
  left: 0;
  line-height: 22px;
  margin-left: 10px;
  max-width: 200px;
  min-width: 100px;
  padding: 15px;
  position: relative;
  text-align: center;
  transition: left .25s ease-out, bottom .25s ease-out;
}

.submit-button::before {
  background-color: rgba(0,0,0,.2);
  content: '';
  height: 100%;
  left: -10px;
  position: absolute;
  top: 10px;
  transition: left .25s ease-out, top .25s ease-out;
  width: 100%;
}

.submit-button:hover {
  bottom: -10px;
  left: -10px;
}

.submit-button:hover::before {
  left: 0px;
  top: 0px;
}

.side-by-side {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

form {
  align-self: flex-start;
}

.svg-maya {
  align-self: flex-end;
  max-width: 450px;
  width: 40%;
}

@media only screen and (max-width: 1200px) {
 .content-container--contact .side-by-side {
   flex-direction: column;
 }
 
 form {
   align-self: center;
   flex-direction: column;
   margin-bottom: 30px;
   max-width: unset;
   width: 100%;
 }
 
 .small-field-container {
   width: 100%;
 }
 
 .small-field-container input {
   margin-bottom: 20px;
 }
 
 .small-field-container:nth-child(1) {
   margin-right: 0px;
 }
 
 .svg-maya {
   align-self: center;
   width: 100%;
 }
 
 .submit-button {
   align-self: flex-end;
   margin-top: 20px;
 }
}

@media only screen and (max-width: 700px) {
  .side-by-side {
    flex-direction: column;
  }
}